[Desktop Entry]
Name=Kiwi
Comment=Keystroke visualization overlay
Type=Application
Exec=kiwi-applet
Terminal=false
Categories=COSMIC;
Icon=kiwi
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
