[Desktop Entry]
Name=Kiwi
Comment=A key visualizer for COSMIC DE. Shows an overlay of your keystrokes, mouse clicks, and gestures.
Type=Application
Exec=kiwi
Terminal=false
Categories=Utility;Accessibility;
Icon=kiwi
StartupNotify=true
Keywords=keystroke;keyboard;visualization;screencast;presentation;
