[Unit]
Description=Kiwi Keystroke Visualizer Daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kiwi-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
